/* ======================================================== 
                        320 - 1023
======================================================== */

@media (min-width: 320px) and (max-width: 1023px) {

.header .logo img {
    margin: 10px 5px;
}

.map-img {
    padding-right: 15px;
}

.right-3item p {
    text-align: justify;
}

}



/* ======================================================== 
                        320 - 480
======================================================== */

@media (min-width: 320px) and (max-width: 480px) {
.box-text p {
	font-size: 17px;
}

.content-banner .roboto-light {
    font-size: 17px;
}

.content-banner .roboto-bold {
    font-size: 30px;
}

.header .navbar-nav {
	display: none;
}

.storage-unit-map {
    padding-left: 90px;
}

.custom-containers {
    padding-left: 90px;
}

.moving-tips {
    padding-left: 90px;
}

.download {
    text-align: center;
}

.content-emergency {
    padding-top: 40px;
}

.content-emergency h4 {
    font-size: 32px;
}

.content-emergency h5 {
    font-size: 25px;
}

.slider-bottom {
    padding-top: 45px;
}

.slider-bottom p {
    margin-bottom: 40px;
}

.img-thumb {
    margin-right: 6.8px;
    margin-bottom: 6.8px;
}

.margin-bottom30 {
    margin-bottom: 30px;
    width: 100%;
    float: left;
}

.back-top {
    display: none;
}

.copyright p {
    font-size: 13px;
}

.contact-footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

.contact {
    padding-top: 40px;
    padding-bottom: 55px;
}

.contact span.large-bold {
    font-size: 21px;
}

.contact span.large-light {
    font-size: 21px;
}

.i-line {
    font-size: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

.bg-map {
    margin-bottom: 20px;
}

.main-reserve {
    padding-bottom: 40px;
}


/*---------------------------------------*/
.link-follow {
    display: none;
}

.socialCircle-item {
    width: 32px;
    height: 32px;
    position: absolute;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 0;
    padding-top: 1px;
}

.socialCircle-container {
    position: relative;
    margin-right: 15px;
    top: 12px;
    float: right;
    display: block;
}

.socialCircle-center {
    width: 32px;
    height: 32px;
    position: absolute;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 0;
}

i.fa.fa-share-alt {
    margin-right: 0 !important;
}


}

/* ======================================================== 
                        480 - 767
======================================================== */

@media (min-width: 480px) and (max-width: 767px) {

}

/* ======================================================== 
                        768 - 1023
======================================================== */

@media (min-width: 768px) and (max-width: 1023px) {

}

/* ======================================================== 
                        768 - 1324
======================================================== */

@media only screen and (min-device-width: 768px) and (max-device-width: 1324px) {


}

/* ======================================================== 
                        320 - 1023
======================================================== */

@media (min-width: 1023px) and (max-width: 1199px) {


}