/* ======================================================== 
                        320 - 1023
======================================================== */

@media (min-width: 320px) and (max-width: 767px) {
.hamburger, .navbar {
    display: block;
}

#wrapper.toggled { padding-right: 0px; }

#wrapper.toggled #sidebar-wrapper { width: 220px; }

#wrapper.toggled #page-content-wrapper {
  margin-right: -220px;
  position: absolute;
}

#sidebar-wrapper {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  background: #1a1a1a;
  height: 100%;
  right: 220px;
  margin-right: -220px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 0;
  z-index: 1000;
}

#sidebar-wrapper::-webkit-scrollbar {
 display: none;
}

.sidebar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 40px;
  width: 220px;
}

.sidebar-nav li {
  display: inline-block;
  line-height: 20px;
  position: relative;
  width: 100%;
}

.sidebar-nav li:before {
  -moz-transition: width 0.2s ease-in;
  -ms-transition: width 0.2s ease-in;
  -webkit-transition: width 0.2s ease-in;
  background-color: #1c1c1c;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}

.sidebar-nav li:nth-child(1):before { background-color: #52418a; }

.sidebar-nav li:nth-child(2):before { background-color: #5c499c; }

.sidebar-nav li:nth-child(3):before { background-color: #6651ad; }

.sidebar-nav li:nth-child(4):before { background-color: #7562b5; }

.sidebar-nav li:nth-child(5):before { background-color: #8473be; }

.sidebar-nav li:nth-child(6):before { background-color: #9485c6; }

.sidebar-nav li:nth-child(7):before { background-color: #a396ce; }

.sidebar-nav li:nth-child(8):before { background-color: #b2a7d6; }

.sidebar-nav li:hover:before {
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 100%;
}

.sidebar-nav li a {
  color: #dddddd;
  display: block;
  padding: 10px 15px 10px 30px;
  text-decoration: none;
}

.sidebar-nav li.open:hover before {
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 100%;
}

.sidebar-nav .dropdown-menu {
  background-color: #222222;
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  font-size: 20px;
  height: 65px;
  line-height: 44px;
}

.nav-search {
  color: #ffffff;
  display: block;
  padding: 10px 15px 10px 30px;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
    background: transparent;
    border: none;
    display: block;
    height: 32px;
    margin-right: 15px;
    position: fixed;
    top: 10px;
    right: 0;
    width: 30px;
    z-index: 999;
}

.hamburger:hover { outline: none; }

.hamburger:focus { outline: none; }

.hamburger:active { outline: none; }

.hamburger.is-closed:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  color: #ffffff;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
}

.hamburger.is-closed:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  display: block;
  opacity: 1;
}

.hamburger.is-closed:hover .hamb-top {
  -webkit-transition: all 0.35s ease-in-out;
  top: 5px;
}

.hamburger.is-closed:hover .hamb-bottom {
  -webkit-transition: all 0.35s ease-in-out;
  bottom: 5px;
}

.hamburger.is-closed .hamb-top {
  -webkit-transition: all 0.35s ease-in-out;
  background-color: #000;
  top: 5px;
}

.hamburger.is-closed .hamb-middle {
  background-color: #000;
  margin-top: -2px;
  top: 50%;
}

.hamburger.is-closed .hamb-bottom {
  -webkit-transition: all 0.35s ease-in-out;
  background-color: #000;
  bottom: 5px;
}

.hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom, .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom {
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}

.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: #000;
  margin-top: -2px;
  top: 50%;
}

.hamburger.is-open .hamb-middle {
  background-color: #ffffff;
  display: none;
}

.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: #000;
  margin-top: -2px;
  top: 50%;
}

.hamburger.is-open:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  color: #ffffff;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px;
}

.hamburger.is-open:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all 0.35s ease-in-out;
  display: block;
  opacity: 1;
}

/*-------------------------------*/
/*          Dark Overlay         */
/*-------------------------------*/

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: auto;
    z-index: 1030;
}

button.hamburger.animated.fadeInLeft.is-open {
    right: 210px;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
} 

}

/* ======================================================== 
                        320 - 1023
======================================================== */

@media (min-width: 320px) and (max-width: 1023px) {

.header .logo img {
    margin: 10px 5px;
}

.map-img {
    padding-right: 15px;
}

.right-3item p {
    text-align: justify;
}

}



/* ======================================================== 
                        320 - 480
======================================================== */

@media (min-width: 320px) and (max-width: 480px) {
.box-text p {
	font-size: 17px;
}

.content-banner .roboto-light {
    font-size: 17px;
}

.content-banner .roboto-bold {
    font-size: 30px;
}

.header .navbar-nav {
	display: none;
}

.storage-unit-map {
    padding-left: 90px;
}

.custom-containers {
    padding-left: 90px;
}

.moving-tips {
    padding-left: 90px;
}

.download {
    text-align: center;
}

.content-emergency {
    padding-top: 40px;
}

.content-emergency h4 {
    font-size: 32px;
}

.content-emergency h5 {
    font-size: 25px;
}

.slider-bottom {
    padding-top: 45px;
}

.slider-bottom p {
    margin-bottom: 40px;
}

.img-thumb {
    margin-right: 6.8px;
    margin-bottom: 6.8px;
}

.margin-bottom30 {
    margin-bottom: 30px;
    width: 100%;
    float: left;
}

.back-top {
    display: none;
}

.copyright p {
    font-size: 13px;
}

.contact-footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

.contact {
    padding-top: 40px;
    padding-bottom: 55px;
}

.contact span.large-bold {
    font-size: 21px;
}

.contact span.large-light {
    font-size: 21px;
}

.i-line {
    font-size: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

.bg-map {
    margin-bottom: 20px;
}

.main-reserve {
    padding-bottom: 40px;
}


/*---------------------------------------*/
.link-follow {
    display: none;
}

.socialCircle-item {
    width: 32px;
    height: 32px;
    position: absolute;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 0;
    padding-top: 1px;
}

.socialCircle-container {
    position: relative;
    margin-right: 15px;
    top: 12px;
    float: right;
    display: block;
}

.socialCircle-center {
    width: 32px;
    height: 32px;
    position: absolute;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 0;
}

i.fa.fa-share-alt {
    margin-right: 0 !important;
}

.nav-menu {
    display: none;
}

.header .logo img {
    max-width: 24px;
    height: auto;
}

#page-content-wrapper {
    margin-top: 50px;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: rgba(255, 255, 255, 0.5);
}

.text-device {
    font-size: 15px;
}

}

/* ======================================================== 
                        480 - 767
======================================================== */

@media (min-width: 480px) and (max-width: 767px) {

}

/* ======================================================== 
                        768 - 1023
======================================================== */

@media (min-width: 768px) and (max-width: 1023px) {


}

/* ======================================================== 
                        768 - 1324
======================================================== */

@media only screen and (min-device-width: 768px) and (max-device-width: 1324px) {
.hamburger, .navbar {
    display: none;
}

.img-thumb {
    margin-right: 7px;
}


}

/* ======================================================== 
                        320 - 1023
======================================================== */

@media (min-width: 1023px) and (max-width: 1199px) {


}