/* ufontscomtw-cen-mt */
@font-face {
    font-family: "ufontscomtw-cen-mt";
    src: url("../fonts/ufontscomtw-cen-mt.eot");
    src: url("../fonts/ufontscomtw-cen-mt.eot#iefix") format("embedded-opentype"),
    url("../fonts/ufontscomtw-cen-mt.woff") format("woff"),
    url("../fonts/ufontscomtw-cen-mt.ttf") format("truetype"),
    url("../fonts/ufontscomtw-cen-mt.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

/*roboto-light*/
@font-face {
    font-family: "roboto-light";
    src: url("../fonts/roboto-light.eot");
    src: url("../fonts/roboto-light.eot#iefix") format("embedded-opentype"),
    url("../fonts/roboto-light.woff") format("woff"),
    url("../fonts/roboto-light.ttf") format("truetype"),
    url("../fonts/roboto-light.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

/*roboto-bold*/
@font-face {
    font-family: "roboto-bold";
    src: url("../fonts/roboto-bold.eot");
    src: url("../fonts/roboto-bold.eot#iefix") format("embedded-opentype"),
    url("../fonts/roboto-bold.woff") format("woff"),
    url("../fonts/roboto-bold.ttf") format("truetype"),
    url("../fonts/roboto-bold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

/*myriadpro-light*/
@font-face {
    font-family: "myriadpro-light";
    src: url("../fonts/myriadpro-light.eot");
    src: url("../fonts/myriadpro-light.eot#iefix") format("embedded-opentype"),
    url("../fonts/myriadpro-light.woff") format("woff"),
    url("../fonts/myriadpro-light.ttf") format("truetype"),
    url("../fonts/myriadpro-light.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

/*myriadpro-regular*/
@font-face {
    font-family: "myriadpro-regular";
    src: url("../fonts/myriadpro-regular.eot");
    src: url("../fonts/myriadpro-regular.eot#iefix") format("embedded-opentype"),
    url("../fonts/myriadpro-regular.woff") format("woff"),
    url("../fonts/myriadpro-regular.ttf") format("truetype"),
    url("../fonts/myriadpro-regular.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

/*myriadpro-bold*/
@font-face {
    font-family: "myriadpro-bold";
    src: url("../fonts/myriadpro-bold.eot");
    src: url("../fonts/myriadpro-bold.eot#iefix") format("embedded-opentype"),
    url("../fonts/myriadpro-bold.woff") format("woff"),
    url("../fonts/myriadpro-bold.ttf") format("truetype"),
    url("../fonts/myriadpro-bold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

/*myriadpro-black*/
@font-face {
    font-family: "myriadpro-black";
    src: url("../fonts/myriadpro-black.eot");
    src: url("../fonts/myriadpro-black.eot#iefix") format("embedded-opentype"),
    url("../fonts/myriadpro-black.woff") format("woff"),
    url("../fonts/myriadpro-black.ttf") format("truetype"),
    url("../fonts/myriadpro-black.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

/*avenirltstd-light*/
@font-face {
    font-family: "avenirltstd-light";
    src: url("../fonts/avenirltstd-light.eot");
    src: url("../fonts/avenirltstd-light.eot#iefix") format("embedded-opentype"),
    url("../fonts/avenirltstd-light.woff") format("woff"),
    url("../fonts/avenirltstd-light.ttf") format("truetype"),
    url("../fonts/avenirltstd-light.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

@charset "utf-8";

/* -------animation demo------- */
.demo {
    animation-duration: 3s;
    animation-name: logo_anmt;
    /*animation: logo_Animation 5s ease-out infinite;
    -moz-animation: logo_Animation 5s ease-out infinite;
    -webkit-animation: logo_Animation 5s ease-out infinite;
    -o-animation: logo_Animation 5s ease-out infinite;*/
}

@keyframes logo_Animation {}
@-moz-keyframes logo_Animation {}/* Hien thi cho Firefox */
@-webkit-keyframes logo_Animation {}/* Hien thi cho Safari and Chrome */
@-o-keyframes logo_Animation {}/* Hien thi cho Opera */

/* ======================================================== 
            set up
======================================================== */

*{
    margin: 0;
    padding: 0;
    outline: 0 none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

img{
    border: 0;
}



ul,ol{ list-style: none; }

body {
  position: relative;
  overflow-x: hidden;
}

body, html {
  height: 100%;
  background-color: #fff;
}

body h1, body h2, body h3, body h4 { color: rgba(255, 255, 255, 0.9); }

body p, body blockquote { color: rgba(255, 255, 255, 0.7); }

body a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

body a:hover { 
  color: #ffffff; 
  text-decoration: none;
}

.nav .open > a { background-color: transparent; }
.nav .open > a:hover { background-color: transparent; }
.nav .open > a:focus { background-color: transparent; }

p {
  margin: 0;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  padding-right: 0;
  transition: all 0.5s ease;
}


#page-content-wrapper {
  padding-top: 0px;
  width: 100%;
}

/* ----------------------------------- */
/*                content              */
/* ----------------------------------- */
.header {
    z-index: 99;
    position: relative;
}

.header .logo {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.header .logo img {
    z-index: 1;
    margin: 24px 5px;
    position: relative;
    animation-duration: 2s;
    animation-name: logo_anmt;
}

@keyframes logo_anmt {
  from {
    margin-left: -200px;
  }

  to {
    margin-left: 0;
  }
}

.header .navbar-nav {
    /*float: right;*/
    height: 40px;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

.owl-theme .owl-controls .owl-buttons div {
    padding: 5px 9px;
}

.owl-theme .owl-buttons i{
    margin-top: 2px;
}

.owl-theme .owl-controls .owl-buttons div {
    position: absolute;
}

.owl-theme .owl-controls .owl-buttons .owl-prev{
    left: -45px;
    top: 55px; 
}

.owl-theme .owl-controls .owl-buttons .owl-next{
    right: -45px;
    top: 55px;
}

.slider-inline {
    position: relative;
    animation-duration: 2s;
    animation-name: slider_anmt;
}

@keyframes slider_anmt {
  from {
    margin-top: 300px;
  }

  to {
    margin-top: 0;
  }
}

.owl-carousel {
    position: relative;
}

.slider-inline .owl-theme .owl-controls {
    position: absolute;
    bottom: 5px;
}

.slider-inline .owl-theme .owl-controls .owl-page span {
    margin: 5px 5px;
    opacity: 1;
    border: 2px solid #fff;
    background-color: transparent;
    width: 10px;
    height: 10px;
}

.slider-inline .owl-theme .owl-controls .owl-page.active span, .slider-inline .owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #69B345;
    border: none;
}

.content-banner {
    position: absolute;
    bottom: 35px;
}

.content-banner .roboto-bold {
    font-family: "roboto-bold";
    font-size: 48px;
    color: #69B345;
    text-transform: uppercase;
    margin-bottom: -10px;
}

.content-banner .roboto-light {
    font-family: "roboto-light";
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
}

.box-text {
    background-color: #69B345;
    text-align: center;
}

.box-text p {
    font-family: "myriadpro-light";
    font-size: 36.5px;
    color: #fff;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 40px;
}

.line-house-line {
    margin-bottom: 35px;
}

.line-left {
    border-bottom: 1px solid;
    margin-left: 15px;
    margin-right: -15px;
    height: 78px;
}

.line-right{
    border-bottom: 1px solid;
    margin-right: 15px;
    margin-left: -15px;
    height: 78px;
}

.icon-house {
    text-align: center;
}



.dv-reserve {
    text-align: center;
}

.reserve-title {
    font-family: "myriadpro-regular";
    color: #75B858;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.reserve-description {
    font-family: "myriadpro-regular";
    color: #727272;
    font-size: 18px;
    margin-bottom: 40px;
}

.unit-img {
    height: auto;
    width: 100%;
}

.main-reserve{
    background-color: #FAFAFA;
    padding-top: 35px;
    padding-bottom: 85px;
}

.check-avaibality {
    text-align: center;
    margin-top: 26px;
    margin-bottom: 28px;
}

a.btn-check {
    font-size: 14px;
    color: #fff;
    font-family: "myriadpro-regular";
    background-color: #68B345;
    padding: 12px 15px 8px 15px;
    border-radius: 3px;
}

a.btn-check:hover {
    background-color: #5B5B5C;
    transition: all 0.31s ease 0s;
}

.border-content {
    border: 2px solid #DFDFDF;
    padding: 3px 3px 15px 3px;
}

.text-padding20 {
    padding-left: 20px;
    padding-right: 20px;
}


.unit-title {
    font-family: "myriadpro-bold";
    color: #000;
    font-size: 16px;
    margin-bottom: 25px;
}

.description-text, .cost {
    font-family: "myriadpro-regular";
    font-size: 14px;
    color: #727272;
    margin-bottom: 28px;
}

.cost span {
    color: #67b44d;
    font-size: 18px;
}

a.detail {
    font-family: "myriadpro-regular";
    font-size: 14px;
    color: #000;
}

a.detail:hover {
    color: #2020FF;
    text-decoration: underline;
}

.main-reserve-truck{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fff;
}


/* ------------------ */
a.dv-btn-custom {
    text-align: center;
    position: absolute;
    bottom: -31.5px;
    left: calc(50% - 73px);    
    background-color: #29272A;
    padding: 10px 20px;
    font-size: 14px;
    color: #b1b1b1;
    font-family: "myriadpro-regular";
}

a.dv-btn-custom p.p1 {
    font-family: "myriadpro-bold";
    color: #fff;
    font-size: 16px;
}

a.dv-btn-custom:hover {
    background-color: #D2C129;
    color: #3C3C3C !important;
}

.truck-intro {
    position: relative;
    margin-bottom: 60px;
}

/* ------------------ */

.contact {
    background-color: #FAFAFA;
    padding-top: 100px;
    padding-bottom: 135px;
}

.contact p {
    font-family: "myriadpro-regular";
    font-size: 12px;
    color: #27333a;
    text-transform: uppercase;
}

.contact span.large-bold {
    font-family: "myriadpro-bold";
    color: #67B44D;
    font-size: 30px;
}

.contact span.large-light {
    font-family: "myriadpro-light";
    color: #27333a;
    font-size: 30px;
}

.i-line {
    color: #E8E8E8;
    font-size: 45px;
    padding-left: 20px;
    padding-right: 20px;
}

.map-img {
    padding-right: 49px;
}

.bg-map {
    background-color: #fff;
    padding: 10px;
}

.map-title {
    margin-bottom: 25px;
}

.storage-unit-map {
    background: url("../images/home.png") top left no-repeat;
    height: 71px;
    margin-bottom: 28px;
    padding-left: 106px;
    display: table;
}

.text-item-custom p {
    display: table-cell;
    vertical-align: middle;
    font-family: "myriadpro-regular";
    font-size: 14px;
    color: #373737;
    text-transform: none;
}

.text-item-custom span.right-title {
    color: #67b44d;
    font-size: 18px;
    font-family: "myriadpro-bold";
    text-transform: uppercase;
}

.custom-containers {
    background: url("../images/struck.png") top left no-repeat;
    height: 71px;
    margin-bottom: 28px;
    padding-left: 106px;
    display: table;
}

.moving-tips {
    background: url("../images/light.png") top left no-repeat;
    height: 71px;
    margin-bottom: 50px;
    padding-left: 106px;
    display: table;
}

.right-3item p {
    color: #010101;
    font-size: 14px;
    font-family: "myriadpro-regular";
    text-transform: none;
    margin-bottom: 40px;
}

.right-3item span {
    font-family: "myriadpro-bold";
}

a.btn-download {
    text-transform: uppercase;
    color: #67b44d;
    font-family: "myriadpro-regular";
    font-size: 24px;
    padding: 17px 55px;
    border: 1px solid #67b44d;
    border-radius: 3px;
    text-decoration: none;
}

a.btn-download:hover {
    background-color: #67b44d;
    color: #fff;
    transition: all 0.31s ease 0s;
}

.emergency {
    background: url("../images/banner2.png") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 630px;
    position: relative;
}

.content-emergency {
    padding-top: 125px;
    color: #fff;
}

.content-emergency h4 {
    text-transform: uppercase;
    font-family: "myriadpro-black";
    font-size: 40px;
    margin-bottom: 22px;
}

.content-emergency h5 {
    background: url("../images/check-item.png") top left no-repeat;
    padding-left: 40px;
    text-transform: uppercase;
    font-family: "myriadpro-light";
    font-size: 30px;
}

.content-emergency p {
    font-family: "myriadpro-regular";
    font-size: 15px;
    margin-bottom: 20px;
}

.bird {
    background: url("../images/bird.png") top left no-repeat;
    height: 76px;
}

.slider-bottom {
    background: url("../images/banner3.png") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 368px;
    position: relative;
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding-top: 108px;
    text-transform: uppercase;
}

.slider-bottom h4 {
    font-size: 18px; 
    font-family: "myriadpro-bold";   
}

.slider-bottom p {
    font-size: 21px;
    font-family: "myriadpro-light";
    margin-bottom: 60px;
}

.slider-bottom .owl-controls.clickable {
    padding-left: 0 !important;
}

.slider-bottom  .owl-theme .owl-controls .owl-page span {
    opacity: 1;
    background-color: #fff;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -mod-transform: rotate(45deg);
    border-radius: 0;
}

.slider-bottom .owl-theme .owl-controls .owl-page.active span, .slider-bottom .owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #4799BC;
}

.contact-footer {
    background-color: #2F2F2F;
    color: #fff;
    padding-top: 53px;
    padding-bottom: 52px;
    margin-top: -1px;
    color: #d1d1d1;
    position: relative;
}

.contact-footer span {
    text-transform: uppercase;
    font-size: 24px;
    font-family: "myriadpro-bold";
    border-bottom: 4px solid #D2C029;
    padding-bottom: 7px;
}

.contact-footer p {
    font-size: 15px;
    font-family: "myriadpro-light";
    margin-top: 35px;
    line-height: 25px;
}

.contact-footer p a {
    color: #d1d1d1;
    font-size: 15px;
    font-family: "myriadpro-light";
}

.contact-footer p a:hover {
    color: #D2C029;
}


.line-yellow264 {
    border-bottom: 1px solid #D2C029;
    padding-top: 8px;
    width: 262px;
}

.picture-gallery {
    margin-top: 35px;
    width: 100%;
    float: left;
}

.picture-gallery ul {
    width: 100%;
    float: left;
}

.img-thumb {
    width: 31.7%;
    float: left;
    background-color: #69B246;
    height: 70px;
    margin-right: 8.8px;
    margin-bottom: 8.8px;
}

li.img-thumb:nth-child(3n) {
    margin-right: 0px;
}

.address {
    font-family: "myriadpro-regular" !important;
    font-size: 14px !important;
}

.fa-phone {
    margin-top: 30px;
}

.fa {
    margin-right: 20px;
}

.back-top {
    position: absolute;
    bottom: -31px;
    left: calc(50% - 31px);
    cursor: pointer;
}

.footer {
    background-color: #68B345;
    height: 56px;
}

.social-network {
    padding-top: 15px;
}

.w-h-30 {
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    margin-right: 8.5px;
    position: relative;
    transition: all 0.3s;
}

.w-h-34 {
    width: 34px;
    height: 34px;
    display: block;
    float: left;
    margin-right: 8.5px;
    position: relative;
    transition: all 0.3s;
}

a.pinterest.w-h-30:last-child {
    margin-right: 0;
}

a.twitter {
    background: url("../images/social/twitter1.png") top left no-repeat;
}

a.twitter:hover {
    background: url("../images/social/twitter2.png") top left no-repeat;
}

a.facebook {
    background: url("../images/social/fb1.png") top left no-repeat;
}

a.facebook:hover {
    background: url("../images/social/fb2.png") top left no-repeat;
}

a.google {
    background: url("../images/social/google1.png") top left no-repeat;
}

a.google:hover {
    background: url("../images/social/google2.png") top left no-repeat;
}

a.linkedin {
    background: url("../images/social/linkedin1.png") top left no-repeat;
}

a.linkedin:hover {
    background: url("../images/social/linkedin2.png") top left no-repeat;
}

a.tumblr {
    background: url("../images/social/tumblr1.png") top left no-repeat;
}

a.tumblr:hover {
    background: url("../images/social/tumblr2.png") top left no-repeat;
}

a.instagram {
    background: url("../images/social/instagram1.png") top left no-repeat;
}

a.instagram:hover {
    background: url("../images/social/instagram2.png") top left no-repeat;
}

a.pinterest {
    background: url("../images/social/pinterest1.png") top left no-repeat;
}

a.pinterest:hover {
    background: url("../images/social/pinterest2.png") top left no-repeat;
}

a.share {
    background: url("../images/social/share1.png") top left no-repeat;
}

.copyright p {
    font-family: "myriadpro-regular";
    font-size: 14px;
    color: #fff;
    height: 55px;
    line-height: 55px;
}

.copyright span {
    font-family: "myriadpro-bold";
}

.icon-bird {
    position: absolute;
    top: -38px;
    left: calc(50% - 31px);
    cursor: pointer;
}


/*-----------hover social network--------------*/
ul.link-follow li a span {
    min-width: 70px;
    height: auto;
    line-height: 20px;
    padding: 1px 5px;
    left: 50%;
    margin-left: -40px;
    text-transform: capitalize;
    font-size: 12px;
    color: #fff;
    font-weight: normal;
    text-align: center;
    background: #202020;
    text-indent: 0px;
    position: absolute;
    pointer-events: none;
    bottom: 40px;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

ul.link-follow li a span:before, ul.link-follow li a span:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(0,0,0,0.1);
}

ul.link-follow li a span:after {
    bottom: -5px;
    border-top: 5px solid #111111;
}

ul.link-follow li a:hover span {
    bottom: 45px;
    opacity: 1;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}

.socialCircle-container {
    display: none;
}

.nav-menu {
    padding-top: 55px;
    animation-duration: 2s;
    animation-name: menu_anmt;
}

@keyframes menu_anmt {
  from {
    margin-left: -200px;
  }

  to {
    margin-right: 0;
  }
}


.fa-search {
    margin-right: 0 !important;
    font-size: 25px;
    padding: 0 5px;
}

.nav-menu input[placeholder], [placeholder], *[placeholder] {
    color: #BDBDBD;
    font-family: "avenirltstd-light";
    font-size: 18px;
}

.input-search {
    width: 100%;
    padding: 0 10px;
    border: none;
    border-bottom: 1px solid #000;
}

.btn {
    display: inline-block;
    padding: 0px 10px;
    margin-bottom: 0;
    font-size: 23px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: none;
    border-radius: 0;
}

.btn>.btn:hover {
    background-color: transparent;
    border: none;
}

.input-group-btn:last-child>.btn {
    z-index: 2;
    margin-left: 5px;
    background-color: transparent;
}

button.btn-search {
    border: none;
    background-color: transparent;
}

.dv-menu {
    text-transform: uppercase;
    font-family: "ufontscomtw-cen-mt";
    font-size: 18px;
    margin-top: 15px;
}

.dv-menu ul li {
    float: left;
    margin-right: 18px;
}

.dv-menu ul li:last-child {
    margin-right: 0;
}

.dv-menu ul li a {
    color: #5b5b5c;
}

.dv-menu ul li a:hover {
    border-bottom: 3px solid #D2C029;
}

.hamburger, .navbar {
    display: none;
}